@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    height:5px;
    width:5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c3c3c3c3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}