/* .grid-container {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr 2fr); 
        grid-template-rows: 2px 2px 2px 2px;   */
    grid-template-areas:
        "g1 g1 g1 g2 g2 g2"
        "g3 g3 g3 g3 g4 g4"
        "g3 g3 g3 g3 g5 g5"
        "g6 g6 g6 g7 g7 g7";
} */

.g1 {
    grid-area: g1;
}
.g2 {
    grid-area: g2;
}
.g3 {
    grid-area: g3;
}
.g4 {
    grid-area: g4;
}
.g5 {
    grid-area: g5;
}
.g6 {
    grid-area: g6;
}
.g7 {
    grid-area: g7;
}

.image-container {
    display: flex;
    overflow: hidden;
  }

  .image-container > div {
    opacity: 0;
    transform: translateY(20px); /* Mulai dari posisi sedikit di atas */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
  }